<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="v3" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Reducing Stress<em> Through Friends</em></h1>
                        </div>
                      <p>Equally important for your health and emotional well-being is your ability to express yourself. Putting your emotions into words allows you to perceive them from a new perspective. And, sometimes, altering the words we use alters our emotional response to past or present events. We call this sharing of emotional feelings disclosure – and it has been proven to be highly therapeutic, leading to long-term gains in well-being. For example, under well-controlled conditions, undergraduate college students were asked to recall the most traumatic event in their lives. One group narrated only the factual occurrences of the event, with no mention of their feelings about it. A second group described both the event and their feelings. A control group was asked to simply state what they were wearing at the time of the event or some other circumstantial element that had no emotional connotation.<br><br>
Those people who recalled their feelings about the events experienced an initial episode of increased anxiety as well as a decline in their immune systems.<br><br>But over the course of the semester, it was the members of the group recalling their feelings whose immune systems actually were more robust, requiring fewer visits to the student health center. There was something about the process of talking about the experience that was emotionally therapeutic and had a beneficial impact upon the immune system’s ability to rebound. So much for the cultural belief that emotions are inherently bad and are the opposite of reason. It would be hard to prove, but I suspect many adults who have difficulty expressing emotions may have overheard as children an influential person say, “Don’t be so emotional. Be more reasonable.”<br><br>
How does disclosure of emotions work? Several explanations have been offered. Among the most plausible is that when speaking or writing about a problem, it forces you to slow down. Information, which has been ricocheting around the emotional brain, is delayed during its translation into language. The problem then is perceived through different sensory pathways: the eyes and the kinesthetic senses in the case of written disclosure, or the ears in the case of oral disclosure. Each form also takes time, adding a third modality. As a result, your mind often finds it easier to recognize potential solutions to improve or to overcome the perceived obstacle to getting things done.<br><br>
Desensitization is another hypothesized possibility. Through the repetitive act of expressing your feelings, either on paper or by talking about them, the emotional edge eventually wears off. It’s like watching re-runs of the same television program over and over again. You are able to distance yourself from their impact. Realize you are tinkering with the human mind, which doesn’t always respond in the way we might want it to. Rehashing a problem may fuel the passion or serve as a constant reminder that the problem is still there. But, for the most part:<br><br></p>
                           

                            <br>
                        <div class="text-content">
                            <div class="section-heading">
                                <ul>
                                    <li>Language provides a means of emotional expression.</li>
                                    <li>Language allows you to express emotions in a controllable format.</li>
                                    <li>Putting your emotions into words allows you to perceive them from a new perspective.</li>
                                    <li>Simply altering the words you use can alter your emotional response to past or present events.</li>
                                </ul>
                            </div>
                        </div>
                        <p>Make certain you confide in a close friend who’s a good listener and who will keep your confidences in trust. If your friends tend to be Type-A personalities, who get impatient waiting for you to spit it out or assume that you expect a list of ways to fix the problem, then you may need to seek the skills of a professional therapist. It’s true that this can be expensive, but a good one is worth his or her weight in gold. Not only does a professional therapist have the skills to help you identify the true source of your problem, he or she also has the training to provide guidelines on how to resolve your issues.</p>
            </section>
</div>