<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="v2" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Discovering What<em> You Value</em></h1>
                        </div>
                       <p>As I lecture around the country on beliefs, emotions, stress, and related mind/body issues, I find that most people don’t really believe they can be whatever they want to be, or that they can do whatever it is they want to do. Their beliefs won’t allow them to accept this. I find, too, that most people don’t really value what they are currently doing, and they don’t really value what they have or could have. And it’s not for lack of trying. Do you know people who go to seminar after seminar? Who read self-help books and obediently complete audio programs, but they still can’t seem to put it all together to make the necessary changes? Do you know someone like that? Even if they get a better job, they are still not happy. Oh, they might be happy for a little while, but the same problems seem to resurface at work and at home and with money. And then what happens? They get angry, afraid, depressed, or ashamed.<br><br>
Their actions, the way they live, the jobs they work at, are not congruent with their core beliefs. And because their beliefs are in conflict with their lifestyle, it affects their emotional state in ways that are highly detrimental to their physical and mental health.<br><br>

It affects how they feel about themselves, the way they eat, whether or not they exercise, what they do for a living, the quality of their family life, and how they plan for the future.<br><br>
So, how do you know who you are and what you really believe is important? Here’s a fun way to find out what’s near and dear to you. Imagine that you have just opened the door; standing there is a representative from a lottery with a check for 10 million dollars. But, there’s a catch. You have 5 minutes to decide what to do with it – every last penny. And what you don’t account for, you don’t get. Start writing; and remember, you have only 5 minutes.<br><br>
What immediately comes to mind? New house, new car, new clothes? Many people go directly to advertised beliefs, including what they believe success should look like, or, more likely, what they have been told being rich looks like. Be careful. You may be spending your money and redesigning your life based on somebody else’s values. What about buying all those things for someone else? A mansion for your parents, a Mercedes for your best friend, a sport fishing boat for your brother-in-law, and two first class tickets on a cruise boat for a couple of friends?
What’s up with the big spender? Just being a nice person? Look closer. It could very well be a hand-me-down belief. Maybe you think you don’t deserve the money, and you need to give it away. Or you’ve heard that rich people aren’t nice; they’re miserly, and so you give it away instead of becoming like that. Or, maybe, as a child, you never had enough money, so you’re going to spend everything you have to show people that you now have it. And then what happens is that you end up with nothing again.<br><br>
Look at your lottery list. Is there a church or charitable organization mentioned? Or, did you immediately invest it all to make more money? What does this say about your values? Think carefully. Do you really need the purchases, or are you spending or not spending money in a way that is expected of you? What if you are unable to develop a list for all of this money? You have no idea what to do with it? Then you may not know what your core beliefs are, and you are going to have to dig a little deeper. Don’t mistake the objective of this exercise. The intent is not to instill a particular belief – it’s just to get you thinking about your own. There is no right or wrong belief. It’s only when a belief is not justified for your circumstances or when it impedes your progress towards a worthwhile goal that it needs to be changed.<br><br>
Here are some incomplete sentences. Take a break from reading, and finish the listed statement in a manner consistent with your beliefs and values.<br><br><br>
Life is ________________. A cynic might answer a terminal disease. A more positive response might be a precious gift.<br><br>
The world would be a better place to live if _____________. There were no illnesses? How about, There were more goodwill.<br><br>
And here’s one more example, which gets to the core of this process. I am_____________.<br><br><br>
Are you still uncertain about what it is you value? It goes hand in hand with your beliefs. Do you value money? power? labor? a higher power? Or, perhaps, family, your career, or material possessions? It matters less what you value. It does matter that you know what it is you value.</p>
                        <div class="text-content">
                            <div class="section-heading">      
            </section>
</div>
